<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Transaction History</h1>
<table>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_id }}</td>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.transaction_amt }}</td>
                <td>{{ transaction.credit_or_debit }}</td>
                <td>{{ transaction.to_from_user }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
</body>
</html>